@import "../variables.modules";

.dark {
  background-color: $dark;
  color: $white;
  transition: all 400ms;

  a, i, li {
    color: $white;
    transition: color 400ms;
  }

  a:visited {
    color: $white;
  }

  footer {
    color: $white;
  }
}

.light {
  background-color: $lightpink;
  color: $dark;
  transition: all 400ms;
}

h4 {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 20px;
  font-weight: 300;
}